/*generales*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/*header*/
.navbar {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.063rem;
  letter-spacing: 1px;
  margin-top: .5%;
  padding-right: 4%;
  padding-left: 4%; }
  .navbar img {
    width: 244px; }

.nav-link {
  padding: 20px;
  margin: 0 5px;
  position: relative;
  overflow: hidden; }

.nav-link::before,
.nav-link::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #46494d;
  position: absolute;
  bottom: 0; }

.nav-link::before {
  left: 50%;
  transform: translateX(-50%); }

.nav-link::after {
  right: 50%;
  transform: translateX(50%); }

.nav-link:hover::before,
.nav-link:hover::after {
  width: 100%;
  transition-duration: .3s; }

/*footer*/
footer {
  width: 100%;
  height: 100%; }

.pie {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  background-color: #222227;
  display: flex;
  justify-content: space-evenly;
  padding: 2%; }

.pie__div1 {
  flex-basis: 40%; }
  .pie__div1 a {
    font-size: 0.813rem;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease; }
    .pie__div1 a:hover {
      text-decoration: none;
      color: #a4a5a5; }

.pie__div2 {
  flex-basis: 25%; }

.pie__div3 {
  flex-basis: 15%; }
  .pie__div3 a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #46494d;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease; }
    .pie__div3 a:hover {
      color: #111214;
      background-color: #ffffff; }

.pie__titulo {
  font-size: 1.063rem;
  color: #ffffff;
  text-transform: capitalize;
  position: relative;
  letter-spacing: 1px; }
  .pie__titulo:before {
    position: absolute;
    content: '';
    top: 24px;
    height: 2px;
    width: 80%;
    background: #830065; }

.pie__parrafo {
  font-size: 0.813rem;
  color: #ffffff;
  margin-top: 4%;
  margin-right: 2%;
  letter-spacing: 1px; }

.pie__ul {
  font-size: 0.813rem;
  color: #ffffff;
  letter-spacing: 1px;
  list-style: none;
  margin-top: 6%; }

.pie__redes {
  margin-top: 12%; }

.copyright {
  width: 100%;
  height: 100%;
  background-color: #111214;
  color: #a4a5a5;
  font-size: 0.875rem;
  padding: 1%; }

body {
  width: 100%;
  height: 100%; }

main {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif; }

/*carousel*/
.carouselBootstrap {
  margin-top: 2%; }

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 2%;
  padding-bottom: 3%;
  color: #ffffff;
  text-align: center;
  background: rgba(0, 0, 0, 0.6); }
  .carousel-caption h1, .carousel-caption h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.938rem; }
  .carousel-caption p {
    font-weight: 400;
    font-size: 0.875rem; }

.img-slide1 {
  height: 82vh;
  background-image: url("../imagenes/slide1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.img-slide2 {
  height: 82vh;
  background-image: url("../imagenes/slide2.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover; }

.img-slide3 {
  height: 82vh;
  background-image: url("../imagenes/slide3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/*tarjetas de novedades*/
.novedades {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  color: #222227;
  padding: 3%; }

.novedades__card {
  text-align: center;
  flex-basis: 29%; }

.novedades__titulo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.06rem;
  margin-bottom: 5%; }

.novedades__parrafo {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 25px;
  margin: 3%; }

.novedades__whatsapp {
  margin: 5%; }
  .novedades__whatsapp a {
    text-decoration: none;
    background: #830065aa;
    color: #ffffff;
    padding: 3%;
    border-radius: 25px;
    font-size: 0.75rem;
    text-transform: uppercase;
    transition: 0.5s; }
    .novedades__whatsapp a:hover {
      background: #830065;
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.animate__animated.animate__fadeInUp {
  --animate-duration: 2s; }

.animate__animated.animate__fadeIn {
  --animate-duration: 3s; }

/*obras sociales*/
.oS {
  width: 100%;
  height: 100%; }

.obras-sociales {
  background-image: url("../imagenes/osfondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5% 2%; }

.obras-sociales__imagenes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }

.obras-sociales__titulo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.06rem;
  padding: 2%;
  text-align: center;
  color: #a4a5a5;
  background: rgba(0, 0, 0, 0.6); }

.obras-sociales__imagenes--img {
  width: 11%;
  opacity: 0.9;
  padding: .5%;
  transition: transform .4s; }
  .obras-sociales__imagenes--img:hover {
    transform: scale(1.1); }

/* empieza el main de Institucianal con Grid */
.institucional {
  width: 90%;
  margin: 2% auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "sobrenostexto sobrenosimg sobrenosimg" "staffimg staffimg stafftexto" "misiontexto visiontexto valorestexto"; }
  .institucional img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; }

.institucional__titulo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.06rem;
  text-align: left;
  color: #222227; }

.institucional__datos {
  text-align: left;
  margin-top: 8%; }
  .institucional__datos h3 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem; }
  .institucional__datos h4 {
    font-weight: 600;
    font-size: 0.813rem; }
  .institucional__datos h5 {
    font-size: 0.75rem; }

.institucional__parrafo {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  margin-top: 8%;
  color: #46494d; }

.institucional__sobrenos {
  grid-area: sobrenostexto;
  background-color: #7ab2b3;
  padding: 8%;
  border-radius: 10px; }

.institucional__sobrenos-img {
  grid-area: sobrenosimg; }

.institucional__staff {
  grid-area: stafftexto;
  background-color: #7ab2b3;
  padding: 8%;
  border-radius: 10px; }

.institucional__staff-img {
  grid-area: staffimg; }

.institucional__mision {
  grid-area: misiontexto;
  background-color: #a4a5a5;
  padding: 8%;
  border-radius: 10px; }

.institucional__vision {
  grid-area: visiontexto;
  background-color: #a4a5a5;
  padding: 8%;
  border-radius: 10px; }

.institucional__valores {
  grid-area: valorestexto;
  background-color: #a4a5a5;
  padding: 8%;
  border-radius: 10px; }

/* empieza servicios */
.serviciosGrales {
  width: 100%;
  margin-top: 2%;
  color: #111214;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../imagenes/servicios.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.estudios {
  margin: 2% 15% 1%; }
  .estudios h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.06rem;
    padding: 2%;
    color: #a4a5a5;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px); }

.estudios__contenedor, .especialidades__contenedor {
  padding: 2%;
  background-color: rgba(240, 238, 238, 0.4);
  backdrop-filter: blur(5px); }

.estudios__subtitulo, .especialidades__subtitulo {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1rem;
  list-style: none;
  padding: 5px;
  margin: 2%; }

.estudios__parrafo, .especialidades__parrafo {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 25px; }

.estudios__ul, .especialidades__ul {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 25px;
  padding: 1%;
  margin: 2%;
  list-style: none; }

.fa-arrow-circle-right {
  padding-right: 2%;
  color: #830065; }

.especialidades {
  margin: 1% 15% 2%; }
  .especialidades h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.06rem;
    padding: 2%;
    color: #a4a5a5;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    text-align: right; }

.especialidades__contenedor {
  text-align: right; }

.especialidades__subtitulo {
  text-align: right; }

.especialidades__parrafo {
  text-align: right; }

.especialidades__ul {
  text-align: right; }

/*portal ingreso pacientes*/
.pacientes {
  width: 100%;
  height: 100%;
  background-image: url("../imagenes/pacientes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4%;
  margin-top: 2%; }

.pacientes__contenedor {
  width: 50%;
  margin: 3% auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 3%;
  border-radius: 4%; }
  .pacientes__contenedor h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.06rem;
    color: #ffffff;
    text-shadow: 2px 2px 2px #0e0e0e;
    text-align: center;
    margin: 0;
    margin-bottom: 5%; }
  .pacientes__contenedor h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
    color: #111214;
    text-align: center;
    margin-bottom: 5%; }
  .pacientes__contenedor input {
    width: 100%;
    margin-bottom: 3%;
    padding: 1%;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 25px;
    border: none; }
    .pacientes__contenedor input:focus {
      outline: none; }
    .pacientes__contenedor input::placeholder {
      color: #a4a5a5; }
  .pacientes__contenedor button {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 25px;
    color: #ffffff;
    background-color: #111214;
    text-decoration: none;
    border: none;
    padding: 2%;
    transition: 0.4s; }
    .pacientes__contenedor button:hover {
      cursor: pointer;
      background-color: #205455; }

/*formulario de contacto con google maps*/
.container {
  width: 100%;
  height: 100%;
  margin-top: 4%;
  margin-bottom: 5%; }

.contacto {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; }

.contacto__box {
  padding: 2%;
  text-align: center; }
  .contacto__box h1, .contacto__box h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.06rem;
    color: #ffffff;
    margin-bottom: 10%; }
  .contacto__box i {
    font-size: 2rem;
    margin: 5%; }
  .contacto__box p {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 25px;
    margin-top: 1%;
    margin-bottom: 8%; }
  .contacto__box ul {
    padding: 0;
    margin: 0; }
    .contacto__box ul li {
      list-style: none;
      display: inline-block;
      margin-top: 5%; }
      .contacto__box ul li a {
        display: inline-block;
        height: 45px;
        width: 45px;
        background-color: #ffffff;
        text-align: center;
        line-height: 45px;
        border-radius: 50%;
        color: #111214;
        transition: all 0.5s ease; }
        .contacto__box ul li a:hover {
          color: #ffffff;
          background-color: #111214; }
        .contacto__box ul li a i {
          font-size: 1.2rem;
          line-height: 30px; }
  .contacto__box form {
    padding: 2% 5%; }

.contacto__box:nth-child(1) {
  flex: 25%;
  color: #ffffff;
  background: #830065; }

.contacto__box:nth-child(2) {
  flex: 40%;
  background-image: url("../imagenes/contacto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff; }

.contacto__box:nth-child(3) {
  flex: 35%;
  padding: 0; }

.contacto__input, .contacto__textarea {
  width: 100%;
  margin-bottom: 4%;
  padding: 1%;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 25px;
  background-color: rgba(165, 165, 165, 0.3);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #a4a5a5;
  border: none; }
  .contacto__input:focus, .contacto__textarea:focus {
    outline: none; }
  .contacto__input::placeholder, .contacto__textarea::placeholder {
    color: #a4a5a5; }

.contacto__textarea {
  min-height: 140px;
  resize: none; }

.contacto__boton {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 25px;
  color: #ffffff;
  background-color: rgba(112, 111, 111, 0.3);
  border: none;
  padding: 2%; }
  .contacto__boton:hover {
    cursor: pointer;
    background-color: #111214; }

.contacto__box iframe {
  width: 100%;
  height: 100%; }

/*error 404*/
.error404 {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-image: url("../imagenes/error404.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center; }

.error404__contenedor {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #222227;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .error404__contenedor h1 {
    font-size: 10rem;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px; }
  .error404__contenedor h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.06rem; }
  .error404__contenedor p {
    padding: 2%;
    font-weight: 600; }
  .error404__contenedor a {
    text-decoration: none;
    background: #830065aa;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 0.875rem;
    text-transform: uppercase;
    transition: 0.4s; }
    .error404__contenedor a:hover {
      background: #830065; }

/*responsive*/
@media screen and (max-width: 480px) {
  .contacto__box:nth-child(1) {
    flex: 100%; }
  .contacto__box:nth-child(2) {
    flex: 100%; }
  .contacto__box:nth-child(3) {
    flex: 100%; }
  .contacto__box h1, .contacto__box h2 {
    margin: 5%; }
  .contacto__box i {
    margin: 3%; }
  .contacto__box p {
    margin: 2%; }
  .contacto__box ul {
    margin: 1%; } }

@media screen and (max-width: 668px) {
  .pacientes__contenedor {
    width: 65%; } }

@media screen and (max-width: 768px) {
  html {
    font-size: 90%; }
  .carousel-caption {
    padding-top: 2%;
    padding-bottom: 5%; }
  .novedades {
    display: flex;
    flex-direction: column; }
  .novedades__card {
    margin: 2%; } }

@media screen and (max-width: 900px) {
  .pie {
    flex-direction: column;
    justify-content: space-evenly; }
  .pie__parrafo, .pie__ul, .pie__redes {
    margin-top: 4%; }
  .pie__titulo:before {
    width: 20%; } }

@media screen and (max-width: 991px) {
  .navbar {
    padding: 2% 2%; }
    .navbar img {
      width: 184px; }
  .nav-link {
    padding: 5px;
    margin: 1px; }
  .nav-link::before,
  .nav-link::after {
    height: 2px; }
  .img-slide1, .img-slide2, .img-slide3 {
    height: 85vh; } }

@media all and (max-width: 1024px) {
  .institucional {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%; }
  .institucional__parrafo {
    margin-top: 5%; } }
