/*footer*/

footer{
    width: 100%;
    height: 100%;
}

.pie{
	width: 100%;
	font-family: $fuente-HeaderFooter;
	background-color: $gris-iron;
	display: flex;
    justify-content: space-evenly;
	padding: 2%;
}

.pie__div1{
	flex-basis: 40%;
	a{
		font-size: 0.813rem;
		color: $color-blanco;
		display: block;
		transition: all 0.3s ease;
		&:hover{
			text-decoration: none;
			color: $gris-claro;
		}
	}
}

.pie__div2{
	flex-basis: 25%;
}

.pie__div3{
	flex-basis: 20%;
	a{
		display: inline-block;
		height: 40px;
		width: 40px;
		background-color: $gris-topo;
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
		color: $color-blanco;
		transition: all 0.5s ease;
		&:hover{
			color: $gris-carbon;
			background-color: $color-blanco;
		}
	}
}

.pie__titulo{
	font-size: 1.063rem;
	color: $color-blanco;
	text-transform: capitalize;
	position: relative;
	letter-spacing: 1px;
  	&:before{
		position: absolute;
	  	content: '';
	  	top: 24px;
	  	height: 2px;
	  	width: 80%;
	  	background: $color-obispo;
	}
}

.pie__parrafo{
	font-size: 0.813rem;
	color: $color-blanco;
	margin-top: 4%;
	margin-right: 2%;
	letter-spacing: 1px;
}

.pie__ul{
	font-size: 0.813rem;
	color: $color-blanco;
	letter-spacing: 1px;
    list-style: none;
	margin-top: 6%;
}

.pie__redes{
	margin-top: 12%;
}

.copyright{
    width: 100%;
    height: 100%;
    background-color: $gris-carbon;
    color: $gris-claro;
	font-size: 0.875rem;
    padding: 1%;
}