/*footer*/

footer{
    width: 100%;
    height: 100%;
}

.pie{
	width: 100%;
	font-family: $fuente-HeaderFooter;
	background-color: $fondo-footer;
	display: flex;
    justify-content: space-evenly;
	padding: 2%;
	
}

.pie__div1{
	flex-basis: 40%;
	
}

.pie__div2{
	flex-basis: 25%;
}

.pie__div3{
	flex-basis: 15%;
	a{
		display: inline-block;
		height: 40px;
		width: 40px;
		background-color: rgba(255,255,255,0.2);
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
		color: #ffffff;
		transition: all 0.5s ease;
		&:hover{
			color: #24262b;
			background-color: #ffffff;
		}
	}
}

.pie__titulo{
	font-size: 17px;
	color: #ffffff;
	text-transform: capitalize;
	position: relative;
  	&:before{
		position: absolute;
	  	content: '';
	  	top: 24px;
	  	height: 2px;
	  	width: 80%;
	  	background: $color-obispo;
	}
}

.pie__parrafo{
    font-size: 15px;
    color: #bbbbbb;
	margin-top: 4%;
}

.pie__ul{
    list-style: none;
	margin-top: 6%;
}

.pie__li{
	font-size: 15px;
    color: #bbbbbb;
	a{
		font-size: 14px;
		color: #bbbbbb;
		display: block;
		transition: all 0.3s ease;
		&:hover{
			text-decoration: none;
			color: #ffffff;
		}
	}
    
}

.pie__redes{
	margin-top: 12%;
}

.copyright{
    width: 100%;
    height: 100%;
    background-color: $fondo-copyright;
    color: #bbbbbb;
    font-size: 14px;
    padding: 1%;
}