@mixin titulos {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.06rem;
}

@mixin subtitulos {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
}

@mixin parrafo {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 25px;
}