$fuenteMain:'Montserrat', sans-serif;
$fuente-HeaderFooter: 'Quicksand', sans-serif;
$celeste-institucional: #7ab2b3;
$color-obispo: #830065;
$color-transparente: rgba(0,0,0,0.6);
$fondo-mvv: #a2aaad;
$letra-mvv: #333f48;
$fondo-footer: #24262b;
$fondo-copyright: #111214;
