$fuenteMain:'Montserrat', sans-serif;
$fuente-HeaderFooter: 'Quicksand', sans-serif;
$color-celeste: #7ab2b3;
$color-obispo: #830065;
$color-blanco: #ffffff;
$gris-claro: #a4a5a5;
$gris-topo: #46494d;
$gris-iron: #222227;
$gris-carbon: #111214;
$color-transparente: rgba(0,0,0,0.6);
