@import "generales";
@import "variables";
@import "mixin";
@import "header";
@import "footer";


body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    font-family: $fuenteMain;
}

/*carousel*/

.carouselBootstrap{
    margin-top: 2%;
}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 2%;
    padding-bottom: 3%;
    color: $color-blanco;
    text-align:center;
    background: $color-transparente;
    h1,h2{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.938rem;
    }
    p{
        font-weight: 400;
        font-size: 0.875rem;
    }
}

.img-slide1{
    height: 82vh;
    background-image: url("../imagenes/slide1.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
  
.img-slide2{
    height: 82vh;
    background-image: url("../imagenes/slide2.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
  
.img-slide3{
    height: 82vh;
    background-image: url("../imagenes/slide3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*tarjetas de novedades*/

.novedades{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    font-family: $fuenteMain;
    color: $gris-iron;
    padding: 3%;
}

.novedades__card{
    text-align: center;
    flex-basis: 29%;
}

.novedades__titulo{
    @include titulos();
    margin-bottom: 5%;
}

.novedades__parrafo{
    @include parrafo();
    margin: 3%;
}

.novedades__whatsapp{
    margin: 5%;
    a{
        text-decoration: none;
        background: #830065aa;
        color: $color-blanco;
        padding: 3%;
        border-radius: 25px;
        font-size: 0.75rem;
        text-transform: uppercase;
        transition: 0.5s;
        &:hover{
            background: $color-obispo;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
    }

}

.animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
}

/*obras sociales*/

.oS{
    width: 100%;
    height: 100%;
}

.obras-sociales{
    background-image: url("../imagenes/osfondo.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    padding: 5% 2%;
}

.obras-sociales__imagenes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.obras-sociales__titulo{
    @include titulos();
    padding: 2%;
    text-align: center;
    color: $gris-claro;
    background: $color-transparente;
}

.obras-sociales__imagenes--img{
    width: 11%;
    opacity: 0.9;
    padding: .5%;
    transition: transform .4s;
    &:hover{
        transform: scale(1.1);
    }
}

/* empieza el main de Institucianal con Grid */

.institucional{
	width: 90%;
	margin: 2% auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "sobrenostexto sobrenosimg sobrenosimg"
						 "staffimg staffimg stafftexto"
						 "misiontexto visiontexto valorestexto";
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.institucional__titulo{
    @include titulos();
    text-align: left;
    color: $gris-iron;

}

.institucional__datos{
    text-align: left;
    margin-top: 8%;
    h3{
        @include subtitulos();
    }
    h4{
        font-weight: 600;
        font-size: 0.813rem;
    }
    h5{
        font-size: 0.75rem;
    }
}

.institucional__parrafo{
    @include parrafo();
    text-align: left;
    margin-top: 8%;
    color: $gris-topo;
}

.institucional__sobrenos{
    grid-area: sobrenostexto;
    background-color: $color-celeste;
    padding: 8%;
    border-radius: 10px;
}

.institucional__sobrenos-img{
    grid-area: sobrenosimg;
}

.institucional__staff{
    grid-area: stafftexto;
    background-color: $color-celeste;
    padding: 8%;
    border-radius: 10px;
}

.institucional__staff-img{
    grid-area: staffimg;
}

.institucional__mision{
    grid-area: misiontexto;
    background-color: $gris-claro;
    padding: 8%;
    border-radius: 10px;
}

.institucional__vision{
    grid-area: visiontexto;
    background-color: $gris-claro;
    padding: 8%;
    border-radius: 10px;
}

.institucional__valores{
    grid-area: valorestexto;
    background-color: $gris-claro;
    padding: 8%;
    border-radius: 10px;
}

/* empieza servicios */

.serviciosGrales{
    width: 100%;
    margin-top: 2%;
    color: $gris-carbon;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image:url("../imagenes/servicios.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.estudios{
    margin: 2% 15% 1%;
    h1{
        @include titulos();
        padding: 2%;
        color: $gris-claro;
        background: $color-transparente;
        backdrop-filter: blur(5px);
    }
}

.estudios__contenedor{
    padding: 2%;
    background-color: rgba(240, 238, 238, 0.4);
    backdrop-filter: blur(5px);
}
 
.estudios__subtitulo{
    @include subtitulos();
    list-style: none;
    padding: 5px;
    margin: 2%;
}

.estudios__parrafo{
    @include parrafo();
}

.estudios__ul{
    @include parrafo();
    padding: 1%;
    margin: 2%;
    list-style:none;
}

.fa-arrow-circle-right{
    padding-right: 2%;
    color: $color-obispo;
}

.especialidades{ 
    margin: 1% 15% 2%;
    h2{
        @include titulos();
        padding: 2%;
        color: $gris-claro;
        background: $color-transparente;
        backdrop-filter: blur(5px);
        text-align: right
    }
}

.especialidades__contenedor{
    @extend.estudios__contenedor;
    text-align: right;
}

.especialidades__subtitulo{
    @extend.estudios__subtitulo;
    text-align: right;
}

.especialidades__parrafo{
    @extend.estudios__parrafo;
    text-align: right;
}

.especialidades__ul{
    @extend.estudios__ul;
    text-align: right;
}

/*portal ingreso pacientes*/

.pacientes{
    width: 100%;
    height: 100%;
}

.pacientes__contenedor {
    width: 100%;
    height: auto;
    background-image: url("../imagenes/pacientes.jpg");
    background-size:cover;
    background-repeat: repeat;
    padding: 4%;
    margin-top: 2%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.pacientes__ficha {
    width: 35%;
    min-width: 400px;
    margin: auto;
    background: $color-transparente;
    padding: 2%;
    border-radius: 4%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    h1 {
        @include titulos();
        color: $color-blanco;
        text-shadow: 2px 2px 2px rgb(14, 14, 14);
        margin-top: 2%;
        padding: 2%;
        text-align: center;
    }
    h2 {
        @include subtitulos();
        color: $gris-carbon;
        margin-bottom: 5%;
        text-align: center;

    }
    input{
        width: 80%;
        margin: 1%;
        padding: 1%;
        @include parrafo();
        border: none;
        &:focus{
            outline: none;
        }
        &::placeholder{
            color:$gris-claro;
        }
    }
    button {
        width: 40%;
        @include parrafo();
        color: $color-blanco;
        background-color: $gris-carbon;
        text-decoration: none;
        border: none;
        margin-top: 4%;
        margin-bottom: 6%;
        padding: 2%;
        transition: 0.4s; 
        &:hover{
            cursor: pointer;
            background-color:#205455;
        }
        
    }
    
}

.rangoHorario{
    @include subtitulos();

}

.error, .correcto {
    @include parrafo ();
    color: $color-blanco;
    margin-top: 4%;
}

.table {
    width: 40%;
    margin: 2% auto;
    padding: 2%;
    th{
        width: 20%;
        padding: 2%;
        @include subtitulos();
    }
    td{
        width: 20%;
        padding: 2%;
        @include parrafo();
        text-align: center;
    }
}

/*formulario de contacto con google maps*/
.container {
    width: 100%;
	height: 100%;
    margin-top: 4%;
    margin-bottom: 5%;
}

.contacto {
	width: 100%;
	height: auto;
	margin: auto;
	display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.contacto__box {
	padding: 2%;
    text-align: center;
    h1,h2{
        @include titulos();
        color: $color-blanco;
        margin-bottom: 10%;
    }
    i {
        font-size: 2rem;
        margin: 5%;
    }
    p {
        @include parrafo();
        margin-top: 1%;
        margin-bottom: 8%;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            display: inline-block;
            margin-top: 5%;
            a{
                display: inline-block;
                height: 45px;
                width: 45px;
                background-color: $color-blanco;
                text-align: center;
                line-height: 45px;
                border-radius: 50%;
                color: $gris-carbon;
                transition: all 0.5s ease;
                &:hover{
                    color: $color-blanco;
                    background-color: $gris-carbon;
                }
                i {
                    font-size: 1.2rem;
                    line-height: 30px;
                }
                
            }
        }
    }
    form {
        padding: 2% 5%;
    }
    
}

.contacto__box:nth-child(1) {
	flex: 25%;
    color: $color-blanco;
	background: $color-obispo;
}

.contacto__box:nth-child(2) {
	flex: 40%;
    background-image: url("../imagenes/contacto.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    color: $color-blanco;
}

.contacto__box:nth-child(3) {
	flex: 35%;
	padding: 0;
}

.contacto__input {
    width: 100%;
    margin-bottom: 4%;
    padding: 1%;
    @include parrafo();
    background-color: rgba(165, 165, 165, 0.3);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: $gris-claro;
    border: none;
    &:focus{
        outline: none;
    }
    &::placeholder{
        color:$gris-claro;
    }
}

.contacto__textarea {
    @extend.contacto__input;
    min-height: 140px;
    resize: none;
}

.contacto__boton {
    width: 100%;
    @include parrafo();
    color: $color-blanco;
    background-color: rgba(112, 111, 111, 0.3);
    border: none;
    padding: 2%;
    &:hover{
        cursor: pointer;
        background-color: $gris-carbon;
    }
}

.contacto__box iframe {
	width: 100%;
	height: 100%;
}



/*error 404*/

.error404{
    height: 100vh;
    font-family: $fuenteMain;
    background-image:url("../imagenes/error404.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
  
.error404__contenedor{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $gris-iron;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    h1{
        font-size: 10rem;
        margin: 0;
        font-weight: 900;
        letter-spacing: 20px;
    }
    h2{
        @include titulos();
    }
    p{
        padding: 2%;
        font-weight: 600;
    }
    a{
        text-decoration: none;
        background: #830065aa;
        color:$color-blanco;
        padding: 12px 24px;
        border-radius: 25px;
        font-size: 0.875rem;
        text-transform: uppercase;
        transition: 0.4s;
        &:hover{
            background: $color-obispo;
        }
    }
  
}

/*responsive*/


@media screen and (max-width: 480px){
    .pacientes__ficha {
        width: 95%;
        min-width: 0;
    }

    .contacto__box:nth-child(1) {
		flex: 100%;
	}

	.contacto__box:nth-child(2) {
		flex: 100%;
	}

	.contacto__box:nth-child(3) {
		flex: 100%;
	}

    .contacto__box {
        h1,h2{
            margin: 5%;
        }
        i {
            margin: 3%;
        }
        p {
            margin: 2%;
        }
        ul {
            margin: 1%;
        }
    }
}


@media screen and (max-width: 768px){
    html{
        font-size: 90%;
    }

    .carousel-caption {
        padding-top: 2%;
        padding-bottom: 5%;
    }

    .novedades{
        display: flex;
        flex-direction: column;
    }

    .novedades__card{
        margin: 2%;
    }
}

@media screen and (max-width: 900px){
    .pie{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .pie__parrafo, .pie__ul, .pie__redes{
        margin-top: 4%;
    }

    .pie__titulo{
        &:before{
            width: 20%;
        }
    }
}

@media screen and (max-width: 991px){
    .navbar{
        padding: 2% 2%;
        img{
            width: 184px;
        }
    }

    .nav-link{
        padding: 5px;
        margin: 1px;
    }
    
    .nav-link::before, 
    .nav-link::after{
        height: 2px;
    }

    .img-slide1, .img-slide2, .img-slide3{
        height: 85vh;
    }

}

@media all and (max-width: 1024px){
    .institucional {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
    }

    .institucional__parrafo{
        margin-top: 5%;
    }
}